<div class="container mt-5">
  <div class="d-flex align-items-start mb-4">
    <div class="p-3">
      <img src="path_to_default_profile_pic.jpg" alt="Profile" class="img-thumbnail" style="width: 100px; height: 100px;">
    </div>
    <div class="border p-3 flex-grow-1 d-flex flex-column">
      <h4><%= @user.name %></h4>
      <div class="mt-auto text-right">
      <small><%= @user.posts.count %> posts</small>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <p><%= @user.bio %></p>
  </div>

  <%= link_to 'Create new post', new_user_post_path(@user), class: "btn btn-primary mt-4" %> 

  <h2 class="mb-4">Recent Posts</h2>

  <% @recent_posts.each do |post| %>
    <div class="card mb-4">
      <div class="card-body">
        <h5><%= link_to post.title, user_post_path(@user, post) %></h5>
        <% if post.text.length > 35 %>
          <p><%= post.text.first(35) %>... <%= link_to 'see more', user_post_path(@user, post) %></p>
        <% else %>
          <p><%= post.text %></p>
        <% end %>
        <p><%= post.comments.count %> comments</p>
      </div>
    </div>
  <% end %>

  <%= link_to 'All posts', user_posts_path(@user), class: "btn btn-primary" %>
</div>
