<div class="container mt-5">
  <div class="d-flex align-items-start mb-4">
    <div class="p-3">
      <img src="path_to_default_profile_pic.jpg" alt="Profile" class="img-thumbnail" style="width: 100px; height: 100px;">
    </div>
    <div class="border p-3 flex-grow-1 d-flex flex-column">
      <h4><%= @user.name %></h4>
      <div class="mt-auto text-right">
        <small><%= @user.posts_counter %> posts</small>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <p><%= @user.bio %></p>
  </div>

  <% @recent_posts.each do |post| %>
    <div class="card mb-4">
      <div class="card-body">
        <%= link_to post.title, user_post_path(@user, post) %>
      </div>
    </div>
  <% end %>

  <%= link_to 'All posts', user_posts_path(@user), class: "btn btn-primary" %>
</div>
